body {
    background-color: #cec19f;
    text-align: center;
    color: #1b2c48;
}

ul {
    list-style-type: none;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #28515f;
}

h1 {
    color: #1b2c48;
}

img {
    vertical-align:middle;
    margin:0px 50px;
    border-radius: 50%
}

span {
    color: #3f7f85;
}