.container1 ,.container2 {
    border-style: solid ;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}

.rojo, .verde, .azul {
    height: 67px;
    width: 67px;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.container3 {
    border-style: solid ;
    height: 67px;
    width: 30%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
















